<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- log would be in your home directory -->
  		<file>log/wedding/wedding.log</file>
  		
  		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	      	<!-- daily rollover -->
	      	<fileNamePattern>wedding.%d{yyyy-MM-dd}.log</fileNamePattern>
	      	<!-- keep 30 days' worth of history -->
	      	<maxHistory>30</maxHistory>
	    </rollingPolicy>
  		
  		<encoder>
      		<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
    	</encoder>
	</appender>

  	<logger name="com.awoo" level="INFO"/>

	<root level="debug">
    	<appender-ref ref="FILE" />
  	</root>
</configuration>